@{
    ViewBag.Title = "Eventos";
    ViewBag.image = "/Contents/images/slider-6.jpg";
}


<!-- END head -->
<!-- END section -->

<section class="section blog-post-entry bg-light" id="next">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 post mb-5" data-aos="fade-up" data-aos-delay="100">

                <div class="media media-custom d-block mb-4 h-100">
                    <a href="#" class="mb-4 d-block"><img src="/Contents/images/img_1.jpg" alt="Image placeholder" class="img-fluid"></a>
                    <div class="media-body">
                        <span class="meta-post">Septiembre 26, 2019</span>
                        <h2 class="mt-0 mb-3"><a href="#">Consultorías</a></h2>
                        <p>Realidad y retos del mercado inmobiliario en el hotel Posada del rey.Trujillo,Perú .</p>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 post mb-5" data-aos="fade-up" data-aos-delay="200">
                <div class="media media-custom d-block mb-4 h-100">
                    <a href="#" class="mb-4 d-block"><img src="/Contents/images/img_2.jpg" alt="Image placeholder" class="img-fluid"></a>
                    <div class="media-body">
                        <span class="meta-post">julio 26, 2019</span>
                        <h2 class="mt-0 mb-3"><a href="#">Conferencia de deportes</a></h2>
                        <p>El Turismo de Golf y su impacto económico en el Centro Nacional de Golf , Trujillo .</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 post mb-5" data-aos="fade-up" data-aos-delay="300">
                <div class="media media-custom d-block mb-4 h-100">
                    <a href="#" class="mb-4 d-block"><img src="/Contents/images/img_3.jpg" alt="Image placeholder" class="img-fluid"></a>
                    <div class="media-body">
                        <span class="meta-post">Agosto 30, 2019</span>
                        <h2 class="mt-0 mb-3"><a href="#">Conferencia de Educación y Cultura</a></h2>
                        <p>FP DUAL. Reflexiones sobre su implantación desde la Sede Unidad Editorial, Trujillo </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-12 post mb-5" data-aos="fade-up" data-aos-delay="100">

                <div class="media media-custom d-block mb-4 h-100">
                    <a href="#" class="mb-4 d-block"><img src="/Contents/images/img_4.jpg" alt="Image placeholder" class="img-fluid"></a>
                    <div class="media-body">
                        <span class="meta-post">Diciembre 07, 2018</span>
                        <h2 class="mt-0 mb-3"><a href="#">Conferencia sobre Energía</a></h2>
                        <p>
                            El papel de los inversores en el modelo de transición energética, Oportunidades de inversión en energías renovables, Trujillo.
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 post mb-5" data-aos="fade-up" data-aos-delay="200">
                <div class="media media-custom d-block mb-4 h-100">
                    <a href="#" class="mb-4 d-block"><img src="/Contents/images/img_1.jpg" alt="Image placeholder" class="img-fluid"></a>
                    <div class="media-body">
                        <span class="meta-post">Octubre 12, 2019</span>
                        <h2 class="mt-0 mb-3"><a href="#">Conferencia Farmacéutico - Industria</a></h2>
                        <p>Conectando con el cliente: más allá de la multicanalidad, Trujillo</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 post mb-5" data-aos="fade-up" data-aos-delay="300">
                <div class="media media-custom d-block mb-4 h-100">
                    <a href="#" class="mb-4 d-block"><img src="/Contents/images/img_2.jpg" alt="Image placeholder" class="img-fluid"></a>
                    <div class="media-body">
                        <span class="meta-post">Noviembre 06, 2019</span>
                        <h2 class="mt-0 mb-3"><a href="#">Conferencia Inversión internacional</a></h2>
                        <p>Nueva era en las relaciones comerciales: España y sus intereses en Latinoamérica, Trujillo</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" data-aos="fade">
            <div class="col-12">
                <div class="custom-pagination">
                    <ul class="list-unstyled">
                        <li class="active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><span>...</span></li>
                        <li><a href="#">30</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
