@{
    ViewBag.Title = "Reservaciones";
    ViewBag.image = "/Contents/images/slider-3.jpg";
}


<!-- END head -->
<!-- END section -->

<section class="section contact-section" id="next">
    <div class="container">
        <div class="row">
            <div class="col-md-7" data-aos="fade-up" data-aos-delay="100">

                <form action="#" method="post" class="bg-white p-md-5 p-4 mb-5 border">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label class="text-black font-weight-bold" for="name">Name</label>
                            <input type="text" id="name" class="form-control ">
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="text-black font-weight-bold" for="phone">Telefono</label>
                            <input type="text" id="phone" class="form-control ">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label class="text-black font-weight-bold" for="email">Email</label>
                            <input type="email" id="email" class="form-control ">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label class="text-black font-weight-bold" for="checkin_date">Fecha de Inicio</label>
                            <input type="text" id="checkin_date" class="form-control">
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="text-black font-weight-bold" for="checkout_date">Fecha de Fin</label>
                            <input type="text" id="checkout_date" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="adults" class="font-weight-bold text-black">Adultos</label>
                            <div class="field-icon-wrap">
                                <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                <select name="" id="adults" class="form-control">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4+</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="children" class="font-weight-bold text-black">Niños</label>
                            <div class="field-icon-wrap">
                                <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                <select name="" id="children" class="form-control">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4+</option>
                                </select>
                            </div>
                        </div>
                    </div>



                    <div class="row mb-4">
                        <div class="col-md-12 form-group">
                            <label class="text-black font-weight-bold" for="message">Notas</label>
                            <textarea name="message" id="message" class="form-control " cols="30" rows="8"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="submit" value="Reservar Ahora" class="btn btn-primary text-white py-3 px-5 font-weight-bold">
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-md-5" data-aos="fade-up" data-aos-delay="200">
                <div class="row">
                    <div class="col-md-10 ml-auto contact-info">
                        <p><span class="d-block">Address:</span> <span class="text-black">  Urb. La Merced, Trujillo-Perú | Calle, Jose Antonio Andueza #289</span></p>
                        <p><span class="d-block">Phone:</span> <span class="text-black"> 51-44-200442 | 51-44-207682 | 51-44-618430</span></p>
                        <p><span class="d-block">Email:</span> <span class="text-black"> reservas@laposadadelrey-peru.com</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section testimonial-section bg-light">
    <div class="container">
        <div class="row justify-content-center text-center mb-5">
            <div class="col-md-7">
                <h2 class="heading" data-aos="fade-up">People Says</h2>
            </div>
        </div>
        <div class="row">
            <div class="js-carousel-2 owl-carousel mb-5" data-aos="fade-up" data-aos-delay="200">

                <div class="testimonial text-center slider-item">
                    <div class="author-image mb-3">
                        <img src="/Contents/images/person_1.jpg" alt="Image placeholder" class="rounded-circle mx-auto">
                    </div>
                    <blockquote>

                        <p>&ldquo;Desayuno increíble.  Con "estación" detox y gluten free....Habitaciones planta alta espectaculares. Atención en el restaurant buenisima para familia con niños.&rdquo;</p>
                    </blockquote>
                    <p><em>&mdash; Julia Stil</em></p>
                </div>

                <div class="testimonial text-center slider-item">
                    <div class="author-image mb-3">
                        <img src="/Contents/images/person_2.jpg" alt="Image placeholder" class="rounded-circle mx-auto">
                    </div>
                    <blockquote>
                        <p>&ldquo;Honestamente todo el hotel está de maravilla. Es un poco caro pero al te er un excelente servicio e instalaciones uno está dispuesto a hacer el esfuerzo. El desayuno es excelente también. &rdquo;</p>
                    </blockquote>
                    <p><em>&mdash;  Joel Montana</em></p>
                </div>

                <div class="testimonial text-center slider-item">
                    <div class="author-image mb-3">
                        <img src="/Contents/images/person_3.jpg" alt="Image placeholder" class="rounded-circle mx-auto">
                    </div>
                    <blockquote>

                        <p>&ldquo;La amabilidad del personal y profesionalismo del trato al cliente, la comida buenísima, y las habitaciones super cómodas, totalmente recomendado para familias.&rdquo;</p>
                    </blockquote>
                    <p><em>&mdash; Max Dash</em></p>
                </div>


                <div class="testimonial text-center slider-item">
                    <div class="author-image mb-3">
                        <img src="/Contents/images/person_1.jpg" alt="Image placeholder" class="rounded-circle mx-auto">
                    </div>
                    <blockquote>

                        <p>&ldquo;La atencion excelente, la cama maravillosa, las almohadas un sueño, la piscina con la temperatura ideal pero lo mejor fue el servicio ejecutivo que nos ofrecieron por un súper precio pudimos hacer uso de un área exclusiva para cenar y tomar desayuno, excelente atención..&rdquo;</p>
                    </blockquote>
                    <p><em>&mdash; Angela Smith</em></p>
                </div>

                <div class="testimonial text-center slider-item">
                    <div class="author-image mb-3">
                        <img src="/Contents/images/person_2.jpg" alt="Image placeholder" class="rounded-circle mx-auto">
                    </div>
                    <blockquote>
                        <p>&ldquo;La cama muy cómoda! La habitación y el baño son muy cómodos y bastante buena la decoración simple. &rdquo;</p>
                    </blockquote>
                    <p><em>&mdash; Darel</em></p>
                </div>

                <div class="testimonial text-center slider-item">
                    <div class="author-image mb-3">
                        <img src="/Contents/images/person_3.jpg" alt="Image placeholder" class="rounded-circle mx-auto">
                    </div>
                    <blockquote>

                        <p>&ldquo; Su atención y personal más las instalaciones A1 definitivamente es un hotel con todas las características de un destacado 5 estrellas. &rdquo;</p>
                    </blockquote>
                    <p><em>&mdash; John Wick</em></p>
                </div>

            </div>
            <!-- END slider -->
        </div>

    </div>
</section>
